<!DOCTYPE html>
<html lang="en" ng-app="error" >
	<head>
		<meta charset="utf-8">

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>login</title>
		<meta name="description" content="">
		<meta name="author" content="Administrator">

		<meta name="viewport" content="width=device-width,initial-scale=1">

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		<link rel="stylesheet" href="../resources/bootstrap/css/bootstrap-theme.css" />
		<link rel="stylesheet" href="../resources/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="../resources/custom/css/sticky-footer-navbar.css" />
		<script type="text/javascript" src="../resources/jquery/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="../resources/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../resources/angular/angular.min.js"></script>
		<script type="text/javascript" src="../resources/angular/angular-translate.min.js"></script>
		<script type="text/javascript" src="../resources/angular/translate-service/loader-static-files.js"></script>
		<script type="text/javascript" src="../resources/angular/translate-service/storage-cookie.js"></script>
		<script type="text/javascript" src="../resources/angular/angular-cookies.min.js"></script>
		<script type="text/javascript" src="/htmls/errors/error.js"></script>
		
	</head>

	<body ng-controller="errorCtrl">
	<div class="row">
		<div class="col-sm-5 col-sm-offset-11">
		
			 <p>
			    <a href="#" ng-click="setLang('en_US')">English</a>
			    |
			    <a href="#" ng-click="setLang('zh_CH')">中</a>
		  	 </p>
		</div>
	</div>
		<div class="container">

			<div class="alert alert-danger" role="alert">
				<h1>404 {{'error'|translate}} !</h1>
				<h5>{{'Page is skipping'|translate}}...{{number}}</h5>
				
			</div>

		</div>
		
		<ng-include src="'/htmls/common/footer.html'"></ng-include>
	</body>
</html>
