<div class="panel panel-default">
	<div class="panel-body">
		<div class="row" style="margin-bottom: 10px;margin-left;10px">
			<div class="col-md-12">
	            <form class="form-inline" role="form"  name="mySearchForm">
						<div class="col-xs-10 col-xs-offset-0">
		            	 	<span>
		            			<label style="padding-left: 0; padding-right: 0;">{{'mac'|translate}}:</label>
		            		</span>
		            	 	<span>
		            			<input name="description"
								type="text" class="form-control"
								ng-model="testManager.mySearchForm.mac">
							</span>
							<button type="button" ng-click="search()"  class="btn btn-primary btn-sm">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</div>
	                </div>
	            </form>
            </div>
		</div>
	</div>
</div>
