<div class="col-md-1" style="padding-left: 20px">
	<!-- 
	<ul id="main-nav" class="nav nav-tabs nav-stacked">
		<li ng-repeat="firstItem in data"><a href="#{{firstItem.name}}"
			class="glyphicon glyphicon-th-large" data-toggle="collapse">{{firstItem.name|translate}}
				<span class="pull-right glyphicon glyphicon-chevron-down"></span>
		</a>
			<ul id="{{firstItem.name}}" class="nav nav-list collapse secondmenu"
				style="height: 0px;">
				<li ng-repeat="secondItem in firstItem.list"><a
					ng-click="selectedCategoryListFn(secondItem)"><i
						class="glyphicon glyphicon-th-list"></i>{{secondItem.name|translate}}</a></li>
			</ul></li>
	</ul>-->
</div>
