<!DOCTYPE html>
<html lang="en" ng-app="login">
<head>
<meta charset="utf-8">

<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>login</title>
<meta name="description" content="">
<meta name="author" content="Administrator">

<meta name="viewport" content="width=device-width,initial-scale=1">

<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
<link rel="shortcut icon" href="/favicon.ico">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link rel="stylesheet"
	href="../resources/bootstrap/css/bootstrap-theme.min.css" />
<link rel="stylesheet" href="../resources/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="../resources/custom/css/sticky-footer-navbar.css" />
<script type="text/javascript"
	src="../resources/jquery/jquery-1.11.1.min.js"></script>
<script type="text/javascript"
	src="../resources/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../resources/angular/angular.min.js"></script>
<script type="text/javascript"
	src="../resources/angular/angular-translate.min.js"></script>
<script type="text/javascript"
	src="../resources/angular/translate-service/loader-static-files.js"></script>
<script type="text/javascript"
	src="../resources/angular/translate-service/storage-cookie.js"></script>
<script type="text/javascript"
	src="../resources/angular/angular-cookies.min.js"></script>
<script type="text/javascript" src="../resources/custom/js/md5/md5.js"></script>
<script type="text/javascript" src="login.js"></script>

</head>

<body ng-controller="loginCtrl">
	<div class="row">
		<div class="col-sm-1 col-sm-offset-11">

			<p>
				<a href="#" ng-click="setLang('en_US')">English</a> | <a href="#"
					ng-click="setLang('zh_CH')">中</a>
			</p>
		</div>
	</div>
	<div class="container">

		<div class="starter-template" style="margin: 80px 10% 10px 25%;">
			<h1>HAN’s Access Point Management System</h1>
		</div>

	</div>
	<div class="container">
		<div class="row" style="margin: 0 0 0 38%;">
			<div id="msgDiv" class="col-sm-5 " style="display: none;">
				<h4 class="text-center" style="color: red;">{{message|translate}}!</h4>
			</div>
		</div>
		<div class="well" style="margin: 10px 40% 10px 40%;">
			<form name='f' action="/login"  role="form"
				method="post">
				<div class="input-group">
					<label for="username">{{"username"|translate}}: </label> <input
						id="username" name="username" type="text" class="form-control"
						placeholder="username">
				</div>
				<br>

				<div class="input-group">
					<label for="password">{{"password"|translate}}:</label> <input
						id="password" name="password" type="password"
						placeholder="password" class="form-control">
				</div>
				<br>
				<button type="button" ng-click="mySubmitDemo()" class="btn btn-primary btn-block">
					{{"login"|translate}}</button>
			</form>
		</div>
	</div>
	 
	<div id="loaded" ng-controller="loginAlarmCtrl">
		<ng-include src="'common/loginAlarm.html'"></ng-include>
	</div>
	
	<ng-include src="'common/footer.html'"></ng-include>

</body>
</html>
